*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    line-height: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-weight: 400px;
    background-color: #7A3F3F;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.hidden{
    position: absolute;
    width: 0px;
    height: 0px;
    margin: -1px;
    overflow: hidden;
}
/*start header*/
.site-header{
    color: #B7A3A3;
}
.site-header .container{
    margin: 0 auto;
    
    padding-top: 50px;
    padding-bottom: 35px;
}
.main-nav{
    display: flex;
    margin-bottom: 24px;
}
.logo{    
    width: 90px;
    height: 90px;
    margin-right: 62px;
    transform: scale(1);
    transition: transform 2s;
}
.site-menu, .contact-menu{
    list-style: none;
}
.site-menu{
    display: flex;
    width: 700px;
    margin-top: 38px;
}
.site-menu a{
    display: block;
    margin-right: 30px;
    color: #B7A3A3;
    text-decoration: none;
    transform: scale(1);
    transition: transform 2s linear;
}
.site-header a:hover{
    color: #fff;
    transform: scale(1.1);
    transition: transform 2s linear;
}
.site-menu a:active{
    color: #ccc;
}
.contact-menu {
    display: flex;
    max-width: 180px;
    margin-top: 25px;
    margin-left: auto;
}
.contact-menu li{
    margin-right: 24px;
}
.contact-menu .icon{
    display: block;
}
.contact-menu .icon-insta{
    background: url("../img/insta.png") no-repeat 0 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.contact-menu .icon-phone{
    background: url("../img/phone.png") no-repeat 0 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.contact-menu a:hover{
    opacity: 0.8;
}
.contact-menu a:active{
    opacity: 0.4;
}
/*end header*/

/*start color panel*/
.color-panel div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;

    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;    
    border: 1px solid #B7A3A3;
}
#purple{
    background-color: #7e58c5;
}
#green{
    background-color: #3d9731;
}
#red{
    background-color: #7A3F3F;
}
/*start color panel*/

/*start main*/
.site-main{
    background-color: #B7A3A3;
    color: #7A3F3F;
    padding-bottom: 30px;
}
.adventage .container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0px;
}
h2{
    font-size: 54px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 60px; 
    font-weight: normal;
    text-shadow: 2px 2px #F0BBBB;
    text-align: center;
    padding-top: 20px;
}
.menu .right-column h3{
    padding-top: 20px;
}
.menu .left-column img{
    margin-bottom: 20px;
    transform: scale(1) translateX(0px);
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.left-column img:hover{
    transform: scale(1.8) translateX(150px);
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.left-column .map{
    padding-top: 20px;
    font-size: 20px;
    line-height: 27px;
}
.left-column .map a{
    text-decoration: none;
    color: #7A3F3F;
    font-size: 20px;
}
.left-column .map a:hover{
    text-decoration: underline;
    color: #ce5d5d;
}
.right-column h3{
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    text-decoration: underline;
}
.right-column:last-child{
    margin-bottom: 50px;
}
.right-column p{
    width: 470px;
    font-size: 22px;
    line-height: 30px;
    font-style: italic;
}
.right-column a{
    text-decoration: none;
    color: #7A3F3F;
    font-size: 20px;
}
.right-column a:hover{
    text-decoration: underline;
    color: #ce5d5d;
}
/*end main*/

/*start footer*/
.site-footer{
    color: #B7A3A3;
    text-align: center;
    text-decoration: none;
    padding-top: 35px;
    padding-bottom: 35px;  
    margin-left: 100px;  
}    
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.copyrights{
    color: #B7A3A3;
    margin-top: 25px;
    text-align: center;
    margin-left: -40px;
}
.footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer-menu a{
    font-size: 50px;
    color: #B7A3A3;
    text-decoration: none;
    margin-right: 100px;
    margin-bottom: 35px;
}
/*end footer*/


@media (min-width: 1280px){
    /*.site-header .container{
        background-image: url("img/MAR30266.jpg");
        background-repeat: no-repeat;
        background-position: 100% 130px;
    }*/
}