*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    line-height: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-weight: 400px;
    background-color: #7A3F3F;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.hidden{
    position: absolute;
    width: 0px;
    height: 0px;
    margin: -1px;
    overflow: hidden;
}
/*start header*/
.site-header{
    color: #B7A3A3;
    
}
.site-header .container{
    margin: 0 auto;
    
    padding-top: 50px;
    padding-bottom: 35px;
}
.main-nav{
    display: flex;
    margin-bottom: 24px;
}
.logo{    
    width: 90px;
    height: 90px;
    margin-right: 62px;
    transform: scale(1);
    transition: transform 2s;
}
.site-menu, .contact-menu{
    list-style: none;
}
.site-menu{
    display: flex;
    width: 700px;
    margin-top: 38px;
}
.site-menu a{
    display: block;
    margin-right: 30px;
    color: #B7A3A3;
    text-decoration: none;
    transform: scale(1);
    transition: transform 2s linear;
}
.site-header a:hover{
    color: #fff;
    transform: scale(1.1);
    transition: transform 2s linear;
}
.site-menu a:active{
    color: #ccc;
}
/*.contact-menu {
    display: flex;
    max-width: 180px;
    margin-top: 25px;
    margin-left: auto;
}
.contact-menu li{
    margin-right: 24px;
}
.contact-menu .icon{
    display: block;
}
.contact-menu .icon-insta{
    background: url("../img/insta.png") no-repeat 0 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.contact-menu .icon-phone{
    background: url("../img/phone.png") no-repeat 0 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.contact-menu a:hover{
    opacity: 0.8;
}
*/
.about-us{
    background: url("../img/MAR30266.png") no-repeat 0 0;
    width: 750px;
    height: 500px;
    margin: 0 auto;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.about-us h1{
    margin-bottom: 30px;
    font-size: 54px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 60px; 
    font-weight: normal;
    color: #F0BBBB;
    text-shadow: 2px 2px rgb(78, 65, 65);
}
.about-us p{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
    color: #FFF3F3;
    opacity: 80%;
    text-shadow: 1px 1px rgb(78, 65, 65);
}
/*end header*/

/*start buttons*/
.btn{
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 200px;
    font-size: 20px;
    text-align: center;
    padding: 17px 0px;
    text-transform: uppercase;
    vertical-align: top;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    color: #FFF3F3;
    transform: scaleX(1);
    transition: transform 1.5s linear;
}
.btn:hover{
    border: 1px solid #F0BBBB;
    transform: scaleX(1.1);
    transition: transform 1.5s linear;
    background-color: #ce5d5d;
}
.btn:active{
    border: 1px solid rgb(78, 65, 65);
    transform: scaleX(1.1);
    transition: transform 1.5s linear;
}
.btn1{
    background-color: #7A3F3F;
    margin-bottom: 100px;
}
.btn2{
    background-color: #7A3F3F;
    color: #FFF3F3;
}
/*
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0BBBB;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 5px;
    bottom: 5px;
    background-color: #7A3F3F;
    transition: .4s;
}
input:checked + .slider {
    background-color: #3d9731;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #3d9731;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}
.slider.round {
    border-radius: 35px;
} 
.slider.round:before {
    border-radius: 50%;
    background-color: #2c6e23;
}*/

/*start color-panel*/
.color-panel{
    margin: 30px 0px 0px 100px;
}
.color-panel div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: left;
    

    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;    
    border: 1px solid #B7A3A3;
}
#purple{
    background-color: #7e58c5;
}
#green{
    background-color: #3d9731;
}
#red{
    background-color: #7A3F3F;
}
/*end color-panel*/
/*end buttons*/

/*start adventage*/
.adventage{
    background: #C3A8A8;
    color: #7A3F3F;
    padding-top: 30px;
    padding-bottom: 30px;
}
.services{
    font-size: 40px;
    color: #7A3F3F;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px rgb(78, 65, 65);
    margin: 0px auto 30px;
    padding: 10px 400px 30px;
}
.adventage-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    gap: 80px;
    padding-top: 30px;
}
.adventage-list li{
    position: relative;

    width: 200px;
   
    padding-top: 330px;
    
    font-size: 20px;
    text-align: center;
    box-shadow: 3px 3px 2px #7A3F3F;
}
.adventage-list li:last-child{
    margin-right: 0;
}
.adventage-list li::after{
    content: "";
    top: 0;
    left: 0;

    position: absolute;
    width: 200px;
    height: 400px;
}
.adventage-massage-1::after{
    background: url(../img/MAR30280.png) no-repeat;
}
.adventage-massage-2::after{
    background: url(../img/MAR30027.png) no-repeat;
}
.adventage-massage-3::after{
    background: url(../img/MAR30205.png) no-repeat;
}
/*end adventage*/

/*start our-cabinet*/
.column-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.column-container .left-column, .column-container .right-column{
    width: 450px;   
}
.column-container .right-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.column-container .left-column{
    width: 440px;

}
/*.column-container .left-column:last-child{
    margin-top: 30px;
}*/
.our-cabinet{
    padding: 40px 0 40px;
    color: #F0BBBB;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.our-cabinet .lead {
    font-size: 27px;
    line-height: 33px;
    font-weight: normal;
    margin: 0px 0px 20px;
    text-shadow: 2px 2px rgb(78, 65, 65);
}
.our-cabinet p{
    font-size: 20px;
    line-height: 27px;
    margin-top: 25px;
    margin-bottom: 30px;
}
/*end our-cabinet*/

/*start massage-request*/
.massage-request {
    background: #C3A8A8;
    color: #7A3F3F;
    padding: 100px 0 68px;
}
.massage-request .left-column .lead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 27px;
    margin: -100px 0px 0px;
}
.massage-request .left-column p{
    width: 340px;
}
.massage-request-form input[type="text"], .massage-request-form input[type="tel"]{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 0;
    margin: 5px;
    color: #7A3F3F;
    box-shadow: 2px 2px 1px #7A3F3F;
    transform: scaleX(1);
    transition: transform 2s;
}
.massage-request-form input[type="text"]:hover{
    color: #7A3F3F;
    border: 1px solid #7A3F3F;
    transform: scaleX(1.05);
    transition: transform 2s;
}
.massage-request-form input[type="text"]:active{
    background-color: #7A3F3F;
}
.massage-request-form input[type="tel"]:hover{
    color: #7A3F3F;
    border: 1px solid #7A3F3F;
    transform: scaleX(1.05);
    transition: transform 2s;
}
.massage-request-form input[type="tel"]:active{
    background-color: #7A3F3F;
}
.massage-request-form input[type="checkbox"]{
    margin-left: 0px;
    margin-bottom: 41px;
    margin-right: 0px;
    position: relative;
    z-index: -1;
    opacity: 0;
}
.registration{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.massage-request-form input[type="checkbox"]+label::before{
    content: '';

    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    background-image: url(../img/tick.png);
    margin-top: 10px;
    margin-left: -12px;
    margin-right: 10px;
    box-shadow: 2px 2px 1px #7A3F3F;
}

/*end massage-request*/

/*start footer*/
.site-footer{
    color: #B7A3A3;
    text-align: center;
    text-decoration: none;
    padding-top: 35px;
    padding-bottom: 35px;    
    margin-left: 100px;
}    
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.copyrights{
    color: #B7A3A3;
    margin-top: 25px;
    align-items: center;
    margin-left: -40px;
}
.footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.footer-menu a{
    font-size: 50px;
    color: #B7A3A3;
    text-decoration: none;
    margin-right: 100px;
    margin-bottom: 35px;
}
/*end footer*/


@media screen and (max-width: 1280px) {
    .adventage{
        display: block;
    }
}

/*@media (min-width: 1280px){
    .site-header .container{
        background-image: url("img/MAR30266.jpg");
        background-repeat: no-repeat;
        background-position: 100% 130px;
    }
}*/
